@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%;
  font-family: 'DM Sans';
  scroll-behavior: smooth;
  font-weight: 400;
  /* color: #def5ec80; */
}

.container{
  max-width: 151rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  margin: auto auto;
}

.gridStyle{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.slumtech{
  background: linear-gradient(to right, #FFFFFFE3, #FFFFFF36); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

@media screen and (max-width: 1400px) {
  .container{
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto auto;
  }
}




